In [2]:
x = 10
y = 30
print(f'I eat {x} fruit and {y} vegetable daily')

I eat 10 fruit and 30 vegetable daily

In [22]:
s = "The Himalayas are one of the youngest mountain ranges on the planet."
s.index('s')
print(s[:13])
print(s[-30:-16])
print(f'The Himalayas {s[-14:-1]}')

The Himalayas
mountain range
The Himalayas on the planet

In [28]:
s = 'There are 9 planets in the solar system'
s = s.replace('9','8')
print(s)

There are 8 planets in the solar system

In [9]:
d = {}
with open('scores.csv','r') as f:
    for line in f:
        name,_,score = line.split(',')
        score = int(score.strip())
        if name in d:
            d[name].append(score)
        else:
            d[name] = [score]
for i in d:
    print(f'Name {i} Max score: {max(d[i])} Min score: {min(d[i])} Avg score: {(sum(d[i])/len(d[i]))}')

Name rohit Max score: 140 Min score: 9 Avg score: 100.8
Name shakib Max score: 102 Min score: 56 Avg score: 77.0
Name babar Max score: 120 Min score: 5 Avg score: 58.6